<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <!-- Prueba dinamica-->
  <div class="container mx-auto p-40">
    
    <!-- Lista desplegable de usuarios -->
    <select class="block w-full py-2 px-4 mb-4 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
      <option value=""  selected>Seleccionar Usuario</option>
      <option value="0">Todos los Usuarios</option>
      <option *ngFor="let usuari of usuarios" [value]="usuari.id" selected>{{ usuari.nombre }}</option>
    </select>
    
    <!-- Detalles del usuario seleccionado -->
    <p>Resultado</p>
    <div class="container">
      <ng-container *ngFor="let usuario1 of usuarios">
        <div id="cuadroUsuario">
          <p><strong>Nombre:</strong> {{ usuario1.nombre }}</p>
          <p><strong>Correo:</strong>  {{ usuario1.correo }}</p>
          <p><strong>Rol:</strong> {{ usuario1.rol }}</p>
        </div>
      </ng-container>
    </div>


  </div>

  

  
  
    

</body>
</html>


<!--

  <div class="col">
<p>You select your team {{ selectedTeam }} using change event</p>
	<select #teams (change)="onSelected(teams.value)">
		<option default>Pick a team</option>
		<option>Lakers</option>
		<option>Miami</option>
		<option>Cleveland</option>
	</select>
</div>

-->